@mixin defaultTheme {
    $primary-color: #888f9d;
    $background-color: #151518;
    $background-dark: #050505;
    $background-slightly-dark: #0a090b;
    $glow: #c7dcff;
    $secondary-color: #4b525e;
    $tertiary-color: #2e3046;
    $error-color: #f96a6a;
    $link-color: #5e85b0;
    $tag-color:#8696be;
    $highlight-color:#92a5cf;
    $journal-entry-background: #0c0c0e;
    $approve: #59a867;
    $decline: #d15252;
}