@import './variables.module.scss';

@import './themes/blackwhite';
@import './themes/default';

@mixin themePicker {
  .theme-default & {
    @include defaultTheme;
  }
  
  .theme-blackwhite & {
    @include blackWhiteTheme;
  }
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree.ttf') format('truetype');
}

body {
  @include themePicker;
  font-family: Figtree, sans-serif;
  background: $background-color;
  overflow:hidden;
  margin:0;padding:0;
}