@import './variables.module.scss';
@import './theme.scss';

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/SourceCodePro.ttf') format('truetype');
}

body {
  font-family: Figtree, sans-serif;
  overflow:hidden;
  margin:0;padding:0;
  background:var(--background-color);
}