@import './variables.module.scss';

.homeOuter {

    margin-top:-1px;
    color: var(--primary-color);
    background: var(--background-color);
    @include fixed-center;
    overflow-y:scroll;
    overflow-x:hidden;
    height:100vh;
    width:100vw;
    @include fade-in;

    .homeSection {
        width:100vw;
    }
    
    .homeSectionMain {
        @include flex-center-col;
        height:100vh;
    }

}

.title {
    @include flex-center-row;
    font-weight:bold;
    font-size:1.6rem;
    gap:10px;
    text-align:center;
    @media (max-width: 500px) {
        font-size:2rem;
    }
}

.links {
    @include flex-center-row;
    gap:1rem;
    a {
        @include flex-center-col;
        text-decoration:none;
        color:var(--secondary-color);
        font-size:1.4rem;
        &:hover {
            color:var(--glow);
        }
        svg {
            cursor:pointer;
        }
    }
    @media (max-width: 500px) {
        margin:1rem 0;
    }
}

.subheader {
    font-size:1.2rem;
    margin-bottom:0.5rem;
    text-align:center;
    @media (max-width: 500px) {
        font-size:1rem;
    }
    @media (max-width: 300px) {
        padding:0 3rem;
    }
}

.enter {
    background:var(--primary-color);
    color:var(--background-color);
    border-radius:1rem;
    margin-top:0.4rem;
    cursor:default;
    box-shadow:0 0 5px 4px var(--background-dark);
    border: 1px solid;
    overflow: hidden;
    position: relative;
    opacity:0.8;

    a {
        display:block;
        @include flex-center-row;
        padding:0.8rem 1rem;
        color:var(--background-color);
        text-decoration:none;
    }

    cursor:pointer;
    
    &:after {
        background: var(--glow);
        content: "";
        height: 155px;
        left: -75px;
        opacity: .6;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 20;
    }
    
    &:hover {
        &:after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
        outline:2px solid var(--glow);
    }

    span {
        @include flex-center-row;
        z-index: 20;
        svg {
            transform:translateY(0px);
            margin-left:1rem;
        }
    }
}

.screenshots {
    margin-top:1rem;
    overflow:hidden;
    border-radius:1.4rem;
    border:2px solid var(--secondary-color);
    box-shadow:0 1rem 1rem 0.3rem var(--background-dark);
    @include flex-center-col;
    @include slide-fade-in;
    img {
        height:69vh;
        width:auto;
    }
    
    @media (max-width: 1200px) {
        img {
            height:auto;
            width:90vw;
        }
    }
}

.infoSection {

    padding:2rem 0;

    .infoContainer {
        padding:0 10rem;
        text-align:center;
        margin-bottom:5rem;
        .infoHeader {
            font-size:1.5rem;
            font-weight:bold;
            margin-bottom:1rem;
            background:var(--background-dark);
            padding:0.5rem 0;
            border-radius:0.5rem;
        }
        .infoContent {
            font-size:1.2rem;
            a {
                color:var(--link-color);
                text-decoration:none;
            }
        }
        @media (max-width: 800px) {
            padding:0 5rem;
        }
        @media (max-width: 600px) {
            padding:0 2rem;
        }
    }

}

.screenshotsOuter {

    padding:2rem 0;
    padding-bottom:0;

    .screenshotItem {
        @include flex-center-row;
        gap:2rem;
        div {flex: 1;}
        margin-bottom:5rem;
        
        .screenshotPicture {
            @include flex-center-row;
            img {
                margin-left:auto;
                border:2px solid var(--secondary-color);
                border-radius:1.2rem;
                max-width:50%;height:auto;
                box-shadow: 0 0.5rem 0.8rem 0.4rem var(--background-dark);
            }
        }

        .screenshotDescription {
            @include flex-center-row;
            align-items: center;
            .descInner {
                max-width:50%;
                margin-right:auto;
                @include flex-center-col;
                .descHeader {
                    font-size:1.4rem;
                    font-weight:bold;
                    margin-bottom:1rem;
                }
                .descText {
                    font-size:1.2rem;
                    text-align:center;
                }
            }
        }
        @media (max-width: 1300px) {
            .screenshotPicture {
                img {
                    max-width:70%;
                }
            }
            .screenshotDescription {
                .descInner {
                    max-width:70%;
                }
            }
        }
        @media (max-width: 900px) {
            @include flex-center-col;
            .screenshotPicture {
                img {
                    max-width:70%;
                    margin:0;
                }
            }
            .screenshotDescription {
                .descInner {
                    margin:0;
                    max-width:70%;
                }
            }
        }
    }

}

.enterButtonContainer {
    @include flex-center-row;
    align-items:center;
    gap:2rem;
    margin-top:4rem;
    .enter {
        padding:0;
        a {
            padding:0.5rem 1rem;
            height:1.5rem;
            border-radius:0.8rem;
        }
        margin-top:0;
    }
    .linkButtonContainer {
        @include flex-center-row;
        gap:2rem;
        .linkButton {
            a {
                height:1.5rem;
                display:block;
                border-radius:0.8rem;
                background:var(--primary-color);
                color:var(--background-color);
                text-decoration:none;
                padding:0.5rem 1rem;
                cursor:pointer;
                &:hover {
                    opacity:0.5;
                }
            }
            svg {
                margin-left:0.8rem;
                transform:translateY(3px);
            }
        }
    }
    @media (max-width: 900px) {
        @include flex-center-col;
    }
}

.testimonials {

    @include flex-center-row;
    
    .testimonialsContainer {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width:70vw;

        .testimonialItem {

            flex: 0.5 0 40%;
            height:15vw;
            outline:1px solid var(---secondary-color);

            @include flex-center-col;
            gap:1rem;
            text-align:center;
            margin:1rem;

            .testimonialText {
                font-size:1.1rem;
            }   
    
            .testimonialName {
                font-weight:bold;
            }
    
        }
    }

    @media (max-width: 900px) {
        @include flex-center-col;
        .testimonialsContainer {
            @include flex-center-col;
        }
    }


}


.footer {
    height:10vh;
    text-align:center;
    padding-left:2.4rem;
    @media (max-width: 900px) {
        padding-left:0;
    }
}