@import "./variables.module.scss";

.mobileNotice {
    height:100vh;width:calc(100vw - 2rem);
    background:rgba(4, 5, 14, 0.934);
    z-index:9999999;
    position:fixed;
    top:0;left:0;
    color:#fff;
    @include flex-center-col;
    font-size:1.3rem;
    text-align:center;
    gap:1rem;
    display:none;
    padding:1rem;
    a {
        display:block;
        border:1px solid #fff;
        border-radius:1.2rem;
        padding:0.2rem 0.8rem;
        text-decoration: none;
        color:#fff;
        cursor:pointer;
        &:hover {
            background:#fff;
            color:#000;
        }
    }
}