@import "variables.module.scss";

.numberPicker {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Figtree', sans-serif;
}

.button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border:none;
    outline:none;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    transform:scale(0.8);

    svg {
        transform:translate(1px, 2px);
    }

    &:hover {
        background-color: var(--secondary-color);
    }

    &.buttonDisabled {
        opacity:0.5;
        &:hover {
            cursor:default;
            background-color:var(--primary-color);
        }
    }
}

.input {
    width: 3rem;
    text-align: center;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--primary-color);
    border:none;
    border:1px solid var(--secondary-color);
    outline:none;
    background:var(--background-color);
    font-family: 'Figtree', sans-serif;

    &:focus {
        outline:1px solid var(--primary-color);
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }
}
