@import "./variables.module.scss";
@import "./mobileNotice.module.scss";

.loading {
    height:100vh;width:100vw;
    background:var(--background-color);
    @include flex-center-col;
}

.roomOuter {

    height:100vh;
    width:100vw;
    overflow-x:hidden;
    overflow-y:hidden;
    margin:0;

    background:var(--background-color);

    @include flex-center-col;
    align-items:stretch;

    .mainContentOuter {
        flex:1;
        overflow: hidden;
        position: relative;
        border-top: 1px solid var(--secondary-color);
        z-index: 99999;

        @include fade-in;

        .mainContent {
            height: 95vh;
            @include flex-center-row;
            
        }
    }
}