@import "./variables.module.scss";
@import "./mobileNotice.module.scss";
@import "./roomtabs.module.scss";

.loading {
    height:100dvh;width:100dvw;
    background:var(--background-color);
    @include flex-center-col;
}

.roomOuter {

    height:100dvh;
    width:100dvw;
    overflow-x:hidden;
    overflow-y:hidden;
    margin:0;

    background:var(--background-color);

    @include flex-center-col;
    align-items:stretch;

    .mainContentOuter {
        flex:1;
        overflow: hidden;
        position: relative;
        border-top: 1px solid var(--secondary-color);
        z-index: 1;

        @include fade-in;

        .mainContent {
            height: 95dvh;
            @include flex-center-row;
            
        }
        
        @include responsive-main;
    }
}