@import "./variables.module.scss";
@import "./global.scss";

.roomOuter {

    @include themePicker;

    height:100vh;
    width:100vw;
    overflow-x:hidden;
    overflow-y:hidden;
    margin:0;

    @include flex-center-col;
    align-items:stretch;

    .statsPanelOuter {
        overflow-y:hidden;
        position:relative;
        box-shadow: 0 -10px 20px 5px $background-dark inset;
        max-height:35vh;
        transition:max-height 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);

        &.statsPanelCollapsed {
            max-height:5vh;
        }

        .toggleStatsPanel {
            position:absolute;
            bottom:0;right:0;
            margin:0.2rem 0.8rem;
            transform:rotate(180deg);
            z-index:10000;
            svg {
                font-size:1.8rem;
                color:$primary-color;
                cursor:pointer;
            }

            &.toggleStatsPanelCollapsed {
                transform:rotate(0deg);
            }
        }
    }

    img {
        position:absolute;
        top:1rem;right:1rem;
        opacity:0.5;
        height:5rem;
        width:auto;
        transform:translate(0, 0);
    }

    .statsPanel {

        @include flex-center-row;
        position:relative;
        color:$primary-color;
        padding:3rem 0;

        .roomTop {
            margin:0.6rem 1rem;
            position:absolute;
            top:0;left:0;
            @include flex-center-row;
            gap:1rem;
            .roomId {
                font-weight:bold;
            }
            .requestNotifs {
                position:relative;
                height:2rem;
                width:2rem;
                @include flex-center-row;
                svg {
                    font-size:1.4rem;
                    cursor:pointer;
                    transform:translateY(3px);
                    &:hover {
                        filter:brightness(1.5);
                    }
                }
                @keyframes expand-requests {
                    0% {
                        max-width:0;
                        max-height:0;
                    }
                    100% {
                        max-width:13rem;
                        max-height:9rem;
                    }
                }
                .requests {
                    box-shadow:0 0 5px 4px $background-dark;
                    h4 {
                        text-align:center;
                    }   
                    animation:expand-requests 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
                    width:13rem;
                    max-height:9rem;
                    border-radius:0.5rem;
                    position:absolute;
                    left:0;bottom:0;
                    background:$background-dark;
                    z-index:100000;
                    transform:translate(0.3rem, calc(100% + 0.4rem));
                    border:1px solid $tertiary-color;
                    overflow-y:scroll;
                    .request {
                        padding:0rem 1rem;
                        margin-bottom:1rem;
                        @include flex-center-row;
                        justify-content: space-between;
                        .requestActions {
                            @include flex-center-row;
                            gap:1rem;
                            svg {
                                font-size:1rem;
                            }
                            .approveRequest {
                                color:$approve;
                            }
                            .declineRequest {
                                color:$decline;
                            }
                        }
                    }
                }
            }
        }

        span.workMarker,
        span.workMarkerSpecial {
            color:$secondary-color;
            margin-right:0.2rem;
            display:inline-block;
            height:1rem;
            border-radius:80%;
        }

        span.workMarkerSpecial {
            color:$glow;
            box-shadow:0 0 4px 1px $glow;
        }

        td.streakHeader {
            font-weight:bold;
            color:$highlight-color;
        }

        span.streak {
            font-weight:bold;
            color:$highlight-color;
            opacity:0.5;
            text-align:center;
            &.streakActive {
                opacity:1;
            }
        }

        .workTotal {
            font-weight:bold;
            font-size:1.3rem;
        }

        .deepWorkWeek {

            @include flex-center-row;
            gap:1rem;

            .thisWeek {
                text-align:center;
                .changeWeek {
                    @include flex-center-row;
                    gap:1rem;
                    margin-top:0.4rem;
                    .changeWeekButton {
                        font-size:1.6rem;
                        cursor:pointer;
                        &:hover {
                            filter:brightness(2);
                        }
                    }
                }
                .checkInButton {
                    background:$primary-color;
                    color:$background-color;
                    border-radius:1rem;
                    padding:0.5rem 1rem;
                    margin-top:0.4rem;
                    cursor:pointer;
                    box-shadow:0 0 5px 4px $background-dark;
                    &:hover {
                        outline:2px solid $glow;
                    }
                    svg {
                        transform:translateY(2px);
                    }
                }
            }

            .workGrid {
                table {
                    border-collapse: collapse;
                }
                td {
                    border-right:1px solid $secondary-color;
                    padding:0.2rem 0.8rem;
                }
            }

            .workButtons {
                @include flex-center-row;
                gap:1rem;
                .workMarker, .workMarkerSpecial {margin:0;}
                .addButtons {
                    @include flex-center-col;
                    gap:1rem;
                }
                .workButton {
                    @include flex-center-row;
                    padding:0.5rem;
                    border-radius:0.4rem;
                    cursor:pointer;
                    border:1px solid $background-dark;
                    box-shadow:0 0 5px 4px $background-dark;
                    &:hover {
                        outline:2px solid $secondary-color;
                    }
                }
                .undoButton {
                    svg {
                        transform: translateY(2px);
                    }
                }
            }
        }

        .workStreak {

        }

    }

    .mainContentOuter {
        flex:1;
        overflow:hidden;
        position:relative;
        border-top:1px solid $secondary-color;
        z-index:99999;

        .mainContent {

            height:95vh;
            @include flex-center-row;
    
            .journalOuter, .todoOuter {
                @include flex-center-col;
                color:$primary-color;
                height:100%;
                align-items:stretch;
            }

            .todoOuter {
                width:36vw;
            }

            .journalOuter {
                flex:1;
            }

            @mixin add-button {
                background:$primary-color;
                color:$background-color;
                border:1px solid $secondary-color;
                border-radius:0.5rem;
                height:2.2rem;width:2.2rem;
                @include flex-center;
                cursor:pointer;
                box-shadow:0 0 5px 4px $background-dark;
                &:hover {
                    filter: brightness(1.5);
                }
            }

            .userTabPanel {
                height:2rem;
                line-height:2rem;
                display:flex;
                flex-direction: row;
                background:$background-slightly-dark;

                .userTab {

                    padding:0 1rem;
                    border-right:1px solid $secondary-color;
                    border-bottom:1px solid $secondary-color;
                    cursor:pointer;
                    border-radius:0.4rem 0.4rem 0 0;
                    background:$background-color;
                    max-width:5rem;
                    overflow:hidden;
                    white-space:nowrap;
                    text-overflow: ellipsis;

                    &:hover {
                        opacity:0.6;
                    }

                    &.userTabActive {
                        border-bottom:none;
                        cursor:default;
                        &:hover {
                            opacity:1;
                        }
                    }
                }

                .panelFiller {
                    flex:1;
                    border-bottom:1px solid $secondary-color;
                    background:$background-slightly-dark;
                }

            }

            .todoInner, .journalInner {
                flex:1;
                overflow-y:scroll;
                max-height:100%;
            }

            .todoOuter {
                border-right:1px solid $secondary-color;
            }

            .todoInner {
                padding:1rem 2rem 4rem 2rem;

                @mixin goal-input {
                    background:$background-color;
                    outline:none;
                    border:1px solid $secondary-color;
                    border-radius:0.4rem;
                    font-size:1rem;
                    padding:0.5rem 1rem;
                    color:$primary-color;
                    font-family:'Figtree', sans-serif;
                    line-height:1.2rem;
                }
                overflow-y:scroll;
                scrollbar-color: $secondary-color $background-dark;
                scrollbar-width:thin;

                .goalSection {
                    margin-bottom:3rem;
                    h2 {
                        span.goalDates {
                            color:$secondary-color;
                        }
                    }
                    .taskList {
                        .taskItem {
                            display:flex;
                            flex-direction: row;
                            align-items: center;

                            margin:0.4rem 0;
                            padding:0.2rem 0;

                            .taskCheck {
                                height:1.2rem;width:1.2rem;
                                min-width:1.2rem;
                                border-radius:0.2rem;
                                cursor:pointer;
                                @include flex-center;
                                margin:0 0.5rem;
                                border:1px solid $secondary-color;
                            }
                            .taskName {
                                line-height:1.5rem;
                                .taskTag {
                                    background:$tag-color;
                                    color:$background-color;
                                    padding:0.2rem 0.4rem;
                                    border-radius:0.5rem;
                                    margin-left:0.5rem;
                                    font-size:0.8rem;
                                    font-weight:bold;
                                }
                            }

                            &.taskItemCompleted {
                                .taskCheck {
                                    background:$secondary-color;
                                }
                                .taskName {
                                    text-decoration: line-through;
                                    color:$secondary-color;
                                    opacity: 0.6;
                                    .taskTag {
                                        opacity:0.4;
                                    }
                                }
                            }
                        }
                        .newTaskContainer {
                            @include flex-center-row;
                            gap:1rem;
                            margin-top:0.7rem;
                            input {
                                @include goal-input;
                                width:30%;
                            }
                            .addTask {
                                @include add-button;
                            }
                        }
                    }
                }
                .newGoal {
                    @include flex-center-row;
                    margin-top:2rem;
                    gap:1rem;
                    input {
                        @include goal-input;
                    }
                    .addGoal {
                        @include add-button;
                    }
                }
            }

            .journalInner {
                padding:1rem 2rem 0.8rem 2rem;
                display:flex;
                flex-direction:row;
                align-items:stretch;
                gap:1.5rem;
                overflow-y:scroll;
                scrollbar-color: $secondary-color $background-dark;
                scrollbar-width:thin;

                .journalDates {
                    position:sticky;
                    top:0;
                    width:6rem;
                    padding-top:1.4rem;
                    max-height:100%;
                    overflow-y:scroll;
                    scrollbar-color: $secondary-color $background-dark;
                    scrollbar-width:thin;
                    padding-right:1rem;
                    .journalYear {
                        font-weight:bold;
                        font-size:1.2rem;
                        margin-bottom:1rem;
                        position:relative;
                        .journalYearExpand {
                            position:absolute;
                            top:0;right:0;
                            font-size:1.6rem;
                            cursor:pointer;
                            &:hover {
                                filter:brightness(1.5);
                            }
                        }

                        .journalMonth {
                            font-weight:normal;
                            color:$secondary-color;
                            text-align:right;
                            font-size:1rem;
                            margin-top:0.3rem;
                            cursor:pointer;
                            &:hover {
                                filter: brightness(1.5);
                            }
                            &.journalMonthActive {
                                color:$primary-color;
                            }
                        }

                    }
                }

                .journalContent {

                    flex:1;

                    .journalInputContainer {
    
                        @include flex-center-row;
                        margin-bottom:2rem;
                        align-items: stretch;
                        gap:2rem;
    
                        .journalInputTextOuter {
                            flex:1;
                            display:flex;
                            flex-direction: column;
                            align-items:stretch;
                            textarea {
                                background:$background-dark;
                                outline:none;
                                border:none;
                                resize: none;
                                padding:1rem;
                                color:$primary-color;
                                font-size:1.1rem;
                                font-family:'Figtree', sans-serif;
                                box-shadow:0 0 5px 4px $background-dark;
                            }
                            textarea.journalInputMain {
                                height:10rem;
                                border-radius:0.5rem 0.5rem 0 0;
                                border-bottom:1px solid $secondary-color;
                            }
                            textarea.journalInputTags {
                                border-radius:0 0 0.5rem 0.5rem;
                                overflow:hidden;
                                height:1.5rem;
                            }
                        }
    
                        .journalInputControls {
                            @include flex-center-col;
                            gap:1.5rem;
                            justify-content: space-between;
    
                            .journalInputControl {
                                @include add-button;
                            }
                        }
                    }
    
                    .journalEntry {
                        background:$journal-entry-background;
                        border-radius:0.4rem;
                        margin-bottom:1.4rem;
                        padding:0.5rem 1.7rem;

                        h3 {
                            span.journalTag {
                                display:inline-block;
                                background:$primary-color;
                                border-radius:0.8rem;
                                margin-left:0.6rem;
                                padding:0.2rem 0.7rem;
                                color:$background-dark;
                                font-size:1rem;
                                transform:translateY(-2px);
                            }
                        }
                    }
                }

            }
        }
    }
}