:root, div.theme-default {
    --primary-color: #888f9d;
    --background-color: #151518;
    --background-dark: #050505;
    --background-slightly-dark: #0a090b;
    --glow: #c7dcff;
    --secondary-color: #4b525e;
    --tertiary-color: #2e3046;
    --error-color: #f96a6a;
    --link-color: #5e85b0;
    --tag-color: #8696be;
    --highlight-color: #92a5cf;
    --journal-entry-background: #0c0c0e;
    --approve: #59a867;
    --decline: #d15252;
}

div.theme-blackwhite {
    --primary-color: #000000;
    --background-color: #ffffff;
    --background-dark: #e7e7e7;
    --background-slightly-dark: #000000;
    --glow: #000000;
    --secondary-color: #000000;
    --tertiary-color: #000000;
    --error-color: #ff2727;
    --link-color: #3368d9;
    --tag-color:#000000;
    --highlight-color:#000000;
    --journal-entry-background: #f7f7f7;
    --approve: #4cbe42;
    --decline: #d15252;
}

div.theme-eclipse {
    --primary-color: #d6d2c4;
    --background-color: #202020;
    --background-dark: #181818;
    --background-slightly-dark: #282828;
    --glow: #f2a365;
    --secondary-color: #f2a365;
    --tertiary-color: #f2a365;
    --error-color: #ff4500;
    --link-color: #f2a365;
    --tag-color:#f2a365;
    --highlight-color:#f2a365;
    --journal-entry-background: #282828;
    --approve: #228b22;
    --decline: #ff4500;
}  

div.theme-chocolate {
    --primary-color: #6b3e26;
    --background-color: #f0e5de;
    --background-dark: #f0ddd0;
    --background-slightly-dark: #5a2c10;
    --glow: #d2691e;
    --secondary-color: #cd853f;
    --tertiary-color: #8b4513;
    --error-color: #ff0000;
    --link-color: #8b4513;
    --tag-color:#d2691e;
    --highlight-color:#f4a460;
    --journal-entry-background: #f5f5dc;
    --approve: #228b22;
    --decline: #ff0000;
}

div.theme-hacker {
    --primary-color: #66ff00; 
    --background-color: #000000; 
    --background-dark: #000000; 
    --background-slightly-dark: #0d0d0d; 
    --glow: #33ff33; 
    --secondary-color: #00cc00; 
    --tertiary-color: #009900; 
    --error-color: #ff3300; 
    --link-color: #66ff00; 
    --tag-color:#33ff33; 
    --highlight-color:#66ff00; 
    --journal-entry-background: #0d0d0d; 
    --approve: #00cc00; 
    --decline: #ff3300; 
}

div.theme-nightclub {
    --primary-color: #beabf1;
    --background-color: #16213e;
    --background-dark: #0f3460;
    --background-slightly-dark: #865bd5;
    --glow: #c060a1;
    --secondary-color: #5948b9;
    --tertiary-color: #3a86ff;
    --error-color: #ff006e;
    --link-color: #8338ec;
    --tag-color:#9b5de5;
    --highlight-color:#f15bb5;
    --journal-entry-background: #6244a9;
    --approve: #06d6a0;
    --decline: #ef476f;
}

div.theme-nightocean {
    --primary-color: #688ccf; 
    --background-color: #0B1723; 
    --background-dark: #030A10; 
    --background-slightly-dark: #0F1A2D; 
    --glow: #4FB0C6; 
    --secondary-color: #2E8BC0; 
    --tertiary-color: #2a94b8; 
    --error-color: #FF4B5C; 
    --link-color: #4FB0C6; 
    --tag-color:#B1D4E0; 
    --highlight-color:#4FB0C6; 
    --journal-entry-background: #0F1A2D; 
    --approve: #2E8BC0; 
    --decline: #FF4B5C; 
}

div.theme-peach {
    --primary-color: #b33f25; 
    --background-color: #FFCBA4; 
    --background-dark: #FFB07C; 
    --background-slightly-dark: #FFA368; 
    --glow: #ff7d7d; 
    --secondary-color: #ce503f; 
    --tertiary-color: #FFB07C; 
    --error-color: #FF6347; 
    --link-color: #FFDAB9; 
    --tag-color:#e66572; 
    --highlight-color:#df513b; 
    --journal-entry-background: #FFA368; 
    --approve: #98FB98; 
    --decline: #FF6347; 
}

div.theme-pink {
    --primary-color: #ec2b4b; 
    --background-color: #FFB6C1; 
    --background-dark: #fca6d1; 
    --background-slightly-dark: #FF1493; 
    --glow: #ff2398; 
    --secondary-color: #ff6dbd; 
    --tertiary-color: #FF69B4; 
    --error-color: #FF4500; 
    --link-color: #FFC0CB; 
    --tag-color:#FF69B4; 
    --highlight-color:#f363e4; 
    --journal-entry-background: #ffc9e6; 
    --approve: #98FB98; 
    --decline: #FF4500; 
}

div.theme-snowyevergreen {
    --primary-color: #5fa8ac; 
    --background-color: #FFFFFF; 
    --background-dark: #e9f7ff; 
    --background-slightly-dark: #3C6E71; 
    --glow: #88D498; 
    --secondary-color: #1B3A4B; 
    --tertiary-color: #0A2239; 
    --error-color: #FF4B5C; 
    --link-color: #88D498; 
    --tag-color:#3C6E71; 
    --highlight-color:#88D498; 
    --journal-entry-background: #1B3A4B; 
    --approve: #88D498; 
    --decline: #FF4B5C; 
}

div.theme-solaris {
    --primary-color: #587ac0;
    --background-color: #fff4e6;
    --background-dark: #edcbb0;
    --background-slightly-dark: #efe5ce;
    --glow: #35b7d1;
    --secondary-color: #eb683d;
    --tertiary-color: #aa5536;
    --error-color: #f96a6a;
    --link-color: #4238d4;
    --tag-color:#fe6565;
    --highlight-color:#f98238;
    --journal-entry-background: #fbe5d7;
    --approve: #59a88f;
    --decline: #d15252;
}

div.theme-book {
    --primary-color: #434343;
    --background-color: #f0eee8;
    --background-dark: #dfd7d1;
    --background-slightly-dark: #fef9f5;
    --glow: #b1b1b1;
    --secondary-color: #606060;
    --tertiary-color: #4b4b4b;
    --error-color: #ff4d4d;
    --link-color: #607dbf;
    --tag-color:#777f85;
    --highlight-color:#e7c996;
    --journal-entry-background: #c9c9c9;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-lizard {
    --primary-color: #95f378;
    --background-color: #202c3a;
    --background-dark: #11111f;
    --background-slightly-dark: #1d2636;
    --glow: #d2f080;
    --secondary-color: #61ad72;
    --tertiary-color: #238a42;
    --error-color: #fcd828;
    --link-color: #e653d2;
    --tag-color:#47b87a;
    --highlight-color:#6aa92f;
    --journal-entry-background: #2e5858;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-periwinkle {
    --primary-color: #282374;
    --background-color: #bbb6ff;
    --background-dark: #b59bec;
    --background-slightly-dark: #5956be;
    --glow: #effde4;
    --secondary-color: #783bae;
    --tertiary-color: #4f3bbc;
    --error-color: #ff65ea;
    --link-color: #5fa2c4;
    --tag-color:#6371ea;
    --highlight-color:#bbacff;
    --journal-entry-background: #b4c1ef;
    --approve: #2c4eb7;
    --decline: #bd157a;
}

div.theme-kuromi {
    --primary-color: #f236ff;
    --background-color: #0c0d13;
    --background-dark: #000000;
    --background-slightly-dark: #14141a;
    --glow: #da6aff;
    --secondary-color: #7639c5;
    --tertiary-color: #9a4694;
    --error-color: #fc2c28;
    --link-color: #6a4cff;
    --tag-color:#f548f8;
    --highlight-color:#ff95ff;
    --journal-entry-background: #21143c;
    --approve: #56f28f;
    --decline: #e32b2b;
}

div.theme-stuff {
    --primary-color: #fff154;
    --background-color: #ff4949;
    --background-dark: #bc2929;
    --background-slightly-dark: #ef2f2f;
    --glow: #fffcda;
    --secondary-color: #ffce53;
    --tertiary-color: #f6ad4d;
    --error-color: #284bfc;
    --link-color: #538ee6;
    --tag-color:#ffdc4e;
    --highlight-color:#f7c983;
    --journal-entry-background: #ff5959;
    --approve: #3de277;
    --decline: #f5e147;
}

div.theme-neopolitan {
    --primary-color: #624745;
    --background-color: #fffcf1;
    --background-dark: #fcd8f7;
    --background-slightly-dark: #665050;
    --glow: #f552f3;
    --secondary-color: #e471e0;
    --tertiary-color: #614846;
    --error-color: #ff3d3d;
    --link-color: #9b38e2;
    --tag-color:#9f756f;
    --highlight-color:#6aa92f;
    --journal-entry-background: #e7d2d2;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-cream {
    --primary-color: #3d7afe;
    --background-color: #fffaf8;
    --background-dark: #dedeff;
    --background-slightly-dark: #aec2e3;
    --glow: #41cbd7;
    --secondary-color: #92a9e9;
    --tertiary-color: #4e8efd;
    --error-color: #ff2998;
    --link-color: #4a50ee;
    --tag-color:#8aa4fa;
    --highlight-color:#4837e4;
    --journal-entry-background: #fff4e9;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-nano {
    --primary-color: #3cbcf3;
    --background-color: #0d0f12;
    --background-dark: #0f0f32;
    --background-slightly-dark: #293956;
    --glow: #a3eaff;
    --secondary-color: #4f5ad4;
    --tertiary-color: #6371d0;
    --error-color: #ff5252;
    --link-color: #74d9f5;
    --tag-color:#5173d8;
    --highlight-color:#8fa7f5;
    --journal-entry-background: #060708;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-mint {
    --primary-color: #ffffff;
    --background-color: #00c18c;
    --background-dark: #16a47e;
    --background-slightly-dark: #129a83;
    --glow: #bfffb1;
    --secondary-color: #24642e;
    --tertiary-color: #127666;
    --error-color: #ff7474;
    --link-color: #34adcf;
    --tag-color:#a6fee7;
    --highlight-color:#30e393;
    --journal-entry-background: #00a77a;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-melon {
    --primary-color: #c2ff9f;
    --background-color: #3d5a3f;
    --background-dark: #30432d;
    --background-slightly-dark: #364b36;
    --glow: #deffc4;
    --secondary-color: #eb7870;
    --tertiary-color: #ad4485;
    --error-color: #ff7474;
    --link-color: #9ae9ff;
    --tag-color:#a6fee7;
    --highlight-color:#aefa90;
    --journal-entry-background: #486d4b;
    --approve: #26c9a5;
    --decline: #ff5c5c;
}

div.theme-ninja {
    --primary-color: #ff4c4c;
    --background-color: #0f0e17;
    --background-dark: #050507;
    --background-slightly-dark: #05030b;
    --glow: #cd5b5b;
    --secondary-color: #8a1f17;
    --tertiary-color: #d24457;
    --error-color: #ff1c1c;
    --link-color: #41aecd;
    --tag-color:#ff6e55;
    --highlight-color:#aefa90;
    --journal-entry-background: #080808;
    --approve: #26c9a5;
    --decline: #ff5c5c;
}

div.theme-forest {
    --primary-color: #3e7e51;
    --background-color: #0B0C10;
    --background-dark: #0d120f;
    --background-slightly-dark: #070a0b;
    --glow: #4EBA6F;
    --secondary-color: #4a6776;
    --tertiary-color: #224973;
    --error-color: #FF2E63;
    --link-color: #66FCF1;
    --tag-color: #3f6f61;
    --highlight-color: #1F2833;
    --journal-entry-background: #071617;
    --approve: #4EBA6F;
    --decline: #FF2E63;
}

div.theme-float {
    --primary-color: #0B4F6C;
    --background-color: #FFFFFF;
    --background-dark: #c6f6eb;
    --background-slightly-dark: #D6EFF5;
    --glow: #0B4F6C;
    --secondary-color: #01BAEF;
    --tertiary-color: #B80C09;
    --error-color: #B80C09;
    --link-color: #0B4F6C;
    --tag-color: #FBFBFF;
    --highlight-color: #D6EFF5;
    --journal-entry-background: #d4eef3;
    --approve: #01BAEF;
    --decline: #B80C09;
}

div.theme-wiiu {
    --primary-color: #000000;
    --background-color: #FFFFFF;
    --background-dark: #E6E6E6;
    --background-slightly-dark: #F2F2F2;
    --glow: #000000;
    --secondary-color: #0066CC;
    --tertiary-color: #999999;
    --error-color: #FF0000;
    --link-color: #0066CC;
    --tag-color: #000000;
    --highlight-color: #E6E6E6;
    --journal-entry-background: #FFFFFF;
    --approve: #00CC00;
    --decline: #FF0000;
}

div.theme-frutiger {
    --primary-color: #ffffff;
    --background-color: #0051ff;
    --background-dark: #042091;
    --background-slightly-dark: #0041a9;
    --glow: #6aa8ff;
    --secondary-color: #00bc3f;
    --tertiary-color: #06b326;
    --error-color: #ffb727;
    --link-color: #0066CC;
    --tag-color: #00d20e;
    --highlight-color: #34ff19;
    --journal-entry-background: #ff9500;
    --approve: #00CC00;
    --decline: #FF0000;
}

div.theme-miku {
    --primary-color: #50e1eb;
    --background-color: #272a30;
    --background-dark: #151518;
    --background-slightly-dark: #1e2329;
    --glow: #6aa8ff;
    --secondary-color: #1e9fd7;
    --tertiary-color: #5198d5;
    --error-color: #ff4444;
    --link-color: #0080ff;
    --tag-color: #f77396;
    --highlight-color: #34ff19;
    --journal-entry-background: #222428;
    --approve: #28ce94;
    --decline: #e82b6d;
}