:root, div.theme-default {
    --primary-color: #888f9d;
    --background-color: #151518;
    --background-dark: #050505;
    --background-slightly-dark: #0a090b;
    --glow: #c7dcff;
    --secondary-color: #4b525e;
    --tertiary-color: #2e3046;
    --error-color: #f96a6a;
    --link-color: #5e85b0;
    --tag-color: #8696be;
    --highlight-color: #92a5cf;
    --journal-entry-background: #0c0c0e;
    --approve: #59a867;
    --decline: #d15252;
}

div.theme-blackwhite {
    --primary-color: #000000;
    --background-color: #ffffff;
    --background-dark: #e7e7e7;
    --background-slightly-dark: #000000;
    --glow: #000000;
    --secondary-color: #000000;
    --tertiary-color: #000000;
    --error-color: #ff2727;
    --link-color: #3368d9;
    --tag-color:#000000;
    --highlight-color:#000000;
    --journal-entry-background: #f4f1f1;
    --approve: #4cbe42;
    --decline: #d15252;
}

div.theme-eclipse {
    --primary-color: #d6d2c4;
    --background-color: #202020;
    --background-dark: #181818;
    --background-slightly-dark: #282828;
    --glow: #f8d9c1;
    --secondary-color: #f2a365;
    --tertiary-color: #f2a365;
    --error-color: #ff4500;
    --link-color: #f2a365;
    --tag-color:#f2a365;
    --highlight-color:#f2a365;
    --journal-entry-background: #282828;
    --approve: #228b22;
    --decline: #ff4500;
}  

div.theme-chocolate {
    --primary-color: #6b3e26;
    --background-color: #f0e5de;
    --background-dark: #f0ddd0;
    --background-slightly-dark: #5a2c10;
    --glow: #d2691e;
    --secondary-color: #cd853f;
    --tertiary-color: #8b4513;
    --error-color: #ff0000;
    --link-color: #8b4513;
    --tag-color:#d2691e;
    --highlight-color:#f4a460;
    --journal-entry-background: #f0d4bf;
    --approve: #228b22;
    --decline: #ff0000;
}

div.theme-hacker {
    --primary-color: #66ff00; 
    --background-color: #0a0a0a; 
    --background-dark: #000000; 
    --background-slightly-dark: #000000; 
    --glow: #33ff33; 
    --secondary-color: #00cc00; 
    --tertiary-color: #009900; 
    --error-color: #ff3300; 
    --link-color: #66ff00; 
    --tag-color:#33ff33; 
    --highlight-color:#66ff00; 
    --journal-entry-background: #000000; 
    --approve: #00cc00; 
    --decline: #ff3300; 
}

div.theme-nightclub {
    --primary-color: #beabf1;
    --background-color: #16213e;
    --background-dark: #121f2e;
    --background-slightly-dark: #865bd5;
    --glow: #c060a1;
    --secondary-color: #5948b9;
    --tertiary-color: #3a86ff;
    --error-color: #ff006e;
    --link-color: #8338ec;
    --tag-color:#9b5de5;
    --highlight-color:#f15bb5;
    --journal-entry-background: #120d20;
    --approve: #06d6a0;
    --decline: #ef476f;
}

div.theme-nightocean {
    --primary-color: #688ccf; 
    --background-color: #0B1723; 
    --background-dark: #030A10; 
    --background-slightly-dark: #0F1A2D; 
    --glow: #4FB0C6; 
    --secondary-color: #2E8BC0; 
    --tertiary-color: #2a94b8; 
    --error-color: #FF4B5C; 
    --link-color: #4FB0C6; 
    --tag-color:#B1D4E0; 
    --highlight-color:#4FB0C6; 
    --journal-entry-background: #080e1a; 
    --approve: #2E8BC0; 
    --decline: #FF4B5C; 
}

div.theme-peach {
    --primary-color: #b33f25; 
    --background-color: #FFCBA4; 
    --background-dark: #fabf98; 
    --background-slightly-dark: #FFA368; 
    --glow: #ff7d7d; 
    --secondary-color: #ce503f; 
    --tertiary-color: #FFB07C; 
    --error-color: #FF6347; 
    --link-color: #b53785; 
    --tag-color:#e66572; 
    --highlight-color:#df513b; 
    --journal-entry-background: #ffb689; 
    --approve: #98FB98; 
    --decline: #FF6347; 
}

div.theme-pink {
    --primary-color: #ec2b4b; 
    --background-color: #fcd1d7; 
    --background-dark: #ffc4e2; 
    --background-slightly-dark: #FF1493; 
    --glow: #ff2398; 
    --secondary-color: #ff6dbd; 
    --tertiary-color: #FF69B4; 
    --error-color: #FF4500; 
    --link-color: #d93450; 
    --tag-color:#FF69B4; 
    --highlight-color:#f12e4f; 
    --journal-entry-background: #ffb9c6; 
    --approve: #98FB98; 
    --decline: #FF4500; 
}

div.theme-snowyevergreen {
    --primary-color: #245c5f; 
    --background-color: #FFFFFF; 
    --background-dark: #d8f1ff; 
    --background-slightly-dark: #3C6E71; 
    --glow: #88D498; 
    --secondary-color: #1d3542; 
    --tertiary-color: #0A2239; 
    --error-color: #FF4B5C; 
    --link-color: #88D498; 
    --tag-color:#3C6E71; 
    --highlight-color:#4964a0; 
    --journal-entry-background: #cbe9f9; 
    --approve: #88D498; 
    --decline: #FF4B5C; 
}

div.theme-solaris {
    --primary-color: #587ac0;
    --background-color: #fff4e6;
    --background-dark: #ffecdd;
    --background-slightly-dark: #efe5ce;
    --glow: #35b7d1;
    --secondary-color: #eb683d;
    --tertiary-color: #aa5536;
    --error-color: #f96a6a;
    --link-color: #4238d4;
    --tag-color:#fe6565;
    --highlight-color:#f98238;
    --journal-entry-background: #fbe5d7;
    --approve: #59a88f;
    --decline: #d15252;
}

div.theme-book {
    --primary-color: #434343;
    --background-color: #f0eee8;
    --background-dark: #e7dfd9;
    --background-slightly-dark: #fef9f5;
    --glow: #b1b1b1;
    --secondary-color: #606060;
    --tertiary-color: #4b4b4b;
    --error-color: #ff4d4d;
    --link-color: #607dbf;
    --tag-color:#777f85;
    --highlight-color:#655c4a;
    --journal-entry-background: #d5d1d1;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-lizard {
    --primary-color: #95f378;
    --background-color: #202c3a;
    --background-dark: #132534;
    --background-slightly-dark: #1d2636;
    --glow: #d2f080;
    --secondary-color: #61ad72;
    --tertiary-color: #238a42;
    --error-color: #fcd828;
    --link-color: #e653d2;
    --tag-color:#47b87a;
    --highlight-color:#d7e855;
    --journal-entry-background: #2e5858;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-periwinkle {
    --primary-color: #282374;
    --background-color: #d3d0ff;
    --background-dark: #cdb9f9;
    --background-slightly-dark: #5956be;
    --glow: #effde4;
    --secondary-color: #783bae;
    --tertiary-color: #4f3bbc;
    --error-color: #ff65ea;
    --link-color: #16475f;
    --tag-color:#6371ea;
    --highlight-color:#4823ec;
    --journal-entry-background: #b4c1ef;
    --approve: #2c4eb7;
    --decline: #bd157a;
}

div.theme-kuromi {
    --primary-color: #ea66f3;
    --background-color: #0c0d13;
    --background-dark: #020202;
    --background-slightly-dark: #14141a;
    --glow: #ecb3ff;
    --secondary-color: #7639c5;
    --tertiary-color: #9a4694;
    --error-color: #fc2c28;
    --link-color: #6a4cff;
    --tag-color:#f548f8;
    --highlight-color:#ff95ff;
    --journal-entry-background: #21143c;
    --approve: #56f28f;
    --decline: #e32b2b;
}

div.theme-stuff {
    --primary-color: #fff154;
    --background-color: #ff4949;
    --background-dark: #f33636;
    --background-slightly-dark: #ef2f2f;
    --glow: #fffcda;
    --secondary-color: #ffce53;
    --tertiary-color: #f6ad4d;
    --error-color: #d6ad28;
    --link-color: #e1a954;
    --tag-color:#ffdc4e;
    --highlight-color:#f7c983;
    --journal-entry-background: #ff5959;
    --approve: #3de277;
    --decline: #f5e147;
}

div.theme-neopolitan {
    --primary-color: #7d6765;
    --background-color: #fffcf1;
    --background-dark: #ffe7fc;
    --background-slightly-dark: #665050;
    --glow: #f552f3;
    --secondary-color: #e471e0;
    --tertiary-color: #614846;
    --error-color: #ff3d3d;
    --link-color: #9b38e2;
    --tag-color:#9f756f;
    --highlight-color:#d374b3;
    --journal-entry-background: #e7d2d2;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-cream {
    --primary-color: #3d7afe;
    --background-color: #fffaf8;
    --background-dark: #e6e6ff;
    --background-slightly-dark: #aec2e3;
    --glow: #41cbd7;
    --secondary-color: #92a9e9;
    --tertiary-color: #4e8efd;
    --error-color: #ff2998;
    --link-color: #4a50ee;
    --tag-color:#8aa4fa;
    --highlight-color:#4837e4;
    --journal-entry-background: #fff4e9;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-nano {
    --primary-color: #65f3f3;
    --background-color: #0d0f12;
    --background-dark: #000000;
    --background-slightly-dark: #293956;
    --glow: #c7f2ff;
    --secondary-color: #6c9dd4;
    --tertiary-color: #6371d0;
    --error-color: #ff5252;
    --link-color: #74d9f5;
    --tag-color:#5173d8;
    --highlight-color:#8fa7f5;
    --journal-entry-background: #060708;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-mint {
    --primary-color: #ffffff;
    --background-color: #00c18c;
    --background-dark: #1f9172;
    --background-slightly-dark: #129a83;
    --glow: #bfffb1;
    --secondary-color: #24642e;
    --tertiary-color: #127666;
    --error-color: #ff7474;
    --link-color: #0e2e1d;
    --tag-color:#a6fee7;
    --highlight-color:#0e633d;
    --journal-entry-background: #00a77a;
    --approve: #45e23d;
    --decline: #e32b2b;
}

div.theme-melon {
    --primary-color: #c2ff9f;
    --background-color: #3d5a3f;
    --background-dark: #30432d;
    --background-slightly-dark: #364b36;
    --glow: #deffc4;
    --secondary-color: #eb7870;
    --tertiary-color: #ad4485;
    --error-color: #ff7474;
    --link-color: #9ae9ff;
    --tag-color:#a6fee7;
    --highlight-color:#fd94b7;
    --journal-entry-background: #486d4b;
    --approve: #26c9a5;
    --decline: #ff5c5c;
}

div.theme-ninja {
    --primary-color: #ff4c4c;
    --background-color: #0f0e17;
    --background-dark: #050507;
    --background-slightly-dark: #05030b;
    --glow: #cd5b5b;
    --secondary-color: #8a1f17;
    --tertiary-color: #d24457;
    --error-color: #ff1c1c;
    --link-color: #ffa3a3;
    --tag-color:#ff6e55;
    --highlight-color:#f57964;
    --journal-entry-background: #080808;
    --approve: #26c9a5;
    --decline: #ff5c5c;
}

div.theme-forest {
    --primary-color: #3e7e51;
    --background-color: #0B0C10;
    --background-dark: #000403;
    --background-slightly-dark: #070a0b;
    --glow: #4EBA6F;
    --secondary-color: #4a6776;
    --tertiary-color: #224973;
    --error-color: #FF2E63;
    --link-color: #6bb75a;
    --tag-color: #3f6f61;
    --highlight-color: #499c6b;
    --journal-entry-background: #071617;
    --approve: #4EBA6F;
    --decline: #FF2E63;
}

div.theme-float {
    --primary-color: #0B4F6C;
    --background-color: #FFFFFF;
    --background-dark: #ecfffb;
    --background-slightly-dark: #D6EFF5;
    --glow: #0B4F6C;
    --secondary-color: #01BAEF;
    --tertiary-color: #B80C09;
    --error-color: #B80C09;
    --link-color: #0B4F6C;
    --tag-color: #5ebad3;
    --highlight-color: #57c4a1;
    --journal-entry-background: #d4eef3;
    --approve: #01BAEF;
    --decline: #B80C09;
}

div.theme-wiiu {
    --primary-color: #000000;
    --background-color: #FFFFFF;
    --background-dark: #f0f3f7;
    --background-slightly-dark: #F2F2F2;
    --glow: #000000;
    --secondary-color: #0066CC;
    --tertiary-color: #999999;
    --error-color: #FF0000;
    --link-color: #0066CC;
    --tag-color: #000000;
    --highlight-color: #5b7eef;
    --journal-entry-background: #FFFFFF;
    --approve: #00CC00;
    --decline: #FF0000;
}

div.theme-frutiger {
    --primary-color: #ffffff;
    --background-color: #0051ff;
    --background-dark: #2243c7;
    --background-slightly-dark: #0041a9;
    --glow: #6aa8ff;
    --secondary-color: #00bc3f;
    --tertiary-color: #06b326;
    --error-color: #ffb727;
    --link-color: #f69e39;
    --tag-color: #00d20e;
    --highlight-color: #34ff19;
    --journal-entry-background: #2a3781;
    --approve: #00CC00;
    --decline: #FF0000;
}

div.theme-miku {
    --primary-color: #50e1eb;
    --background-color: #272a30;
    --background-dark: #161619;
    --background-slightly-dark: #1e2329;
    --glow: #6aa8ff;
    --secondary-color: #1e9fd7;
    --tertiary-color: #5198d5;
    --error-color: #ff4444;
    --link-color: #ff5a80;
    --tag-color: #f77396;
    --highlight-color: #ff729f;
    --journal-entry-background: #1a1c1e;
    --approve: #28ce94;
    --decline: #e82b6d;
}

div.theme-melody {
    --primary-color: #ffffff;
    --background-color: #ffcae6;
    --background-dark: #f5b0df;
    --background-slightly-dark: #f398e5;
    --glow: #ffffff;
    --secondary-color: #fc75ec;
    --tertiary-color: #dc63a2;
    --error-color: #ff4444;
    --link-color: #ff3273;
    --tag-color: #fc7ad7;
    --highlight-color: #ff38bd;
    --journal-entry-background: #f9b5e5;
    --approve: #a83ef4;
    --decline: #e82b6d;
}

div.theme-cafe {
    --primary-color: #947c78;
    --background-color: #1f1411;
    --background-dark: #130d0a;
    --background-slightly-dark: #271e1e;
    --glow: #d6d1d1;
    --secondary-color: #a89191;
    --tertiary-color: #1b0c0c;
    --error-color: #ff4444;
    --link-color: #804440;
    --tag-color: #5f4e3b;
    --highlight-color: #cdac9e;
    --journal-entry-background: #342319;
    --approve: #79f843;
    --decline: #e82b6d;
}

div.theme-kiwi {
    --primary-color: #4ba543;
    --background-color: #4f3222;
    --background-dark: #3f2a1f;
    --background-slightly-dark: #2e1d0e;
    --glow: #b2fea4;
    --secondary-color: #20100c;
    --tertiary-color: #1b0c0c;
    --error-color: #ff7979;
    --link-color: #53a747;
    --tag-color: #5f4e3b;
    --highlight-color: #a2f99b;
    --journal-entry-background: #573b2e;
    --approve: #53ba27;
    --decline: #fd4545;
}

div.theme-tropical {
    --primary-color: #e48817;
    --background-color: #fff0b5;
    --background-dark: #f9e1ac;
    --background-slightly-dark: #ffd67e;
    --glow: #74d3d4;
    --secondary-color: #6ec5ab;
    --tertiary-color: #5888bf;
    --error-color: #ff7979;
    --link-color: #3e4cc1;
    --tag-color: #5f4e3b;
    --highlight-color: #4da39c;
    --journal-entry-background: #ffee8d;
    --approve: #35d65d;
    --decline: #ff7070;
}

div.theme-lemonade {
    --primary-color: #fb6888;
    --background-color: #ffd588;
    --background-dark: #ffcd76;
    --background-slightly-dark: #fdbb70;
    --glow: #ff4c55;
    --secondary-color: #f69e9e;
    --tertiary-color: #f5b24d;
    --error-color: #ff7979;
    --link-color: #ea30a3;
    --tag-color: #f05171;
    --highlight-color: #fd46b7;
    --journal-entry-background: #f8c879;
    --approve: #42ad5d;
    --decline: #e83b66;
}

div.theme-rocket {
    --primary-color: #ff4141;
    --background-color: #fefefe;
    --background-dark: #eeedf8;
    --background-slightly-dark: #f1f1f1;
    --glow: #ff3d47;
    --secondary-color: #214fd7;
    --tertiary-color: #f5b24d;
    --error-color: #ff7979;
    --link-color: #1808ff;
    --tag-color: #fe526c;
    --highlight-color: #1b2aff;
    --journal-entry-background: #f0f3fa;
    --approve: #1ceb50;
    --decline: #ff2e2e;
}

div.theme-honeycomb {
    --primary-color: #fff8d4;
    --background-color: #f9a318;
    --background-dark: #e49836;
    --background-slightly-dark: #e19640;
    --glow: #fffdf5;
    --secondary-color: #f5cd78;
    --tertiary-color: #ffb445;
    --error-color: #ff2b2b;
    --link-color: #ffdccb;
    --tag-color: #ffdb77;
    --highlight-color: #ffe6b3;
    --journal-entry-background: #cf871b;
    --approve: #b173f9;
    --decline: #ff2020;
}

div.theme-arctic {
    --primary-color: #cbe9fd;
    --background-color: #09090b;
    --background-dark: #000000;
    --background-slightly-dark: #304485;
    --glow: #fffdf5;
    --secondary-color: #3a4989;
    --tertiary-color: #3356b4;
    --error-color: #ff2b2b;
    --link-color: #82a1df;
    --tag-color: #43d3c5;
    --highlight-color: #afc7ff;
    --journal-entry-background: #050505;
    --approve: #d8ecff;
    --decline: #ff2020;
}

div.theme-mediterranean {
    --primary-color: #246131;
    --background-color: #d5e5a6;
    --background-dark: #b8d89e;
    --background-slightly-dark: #9ebe5b;
    --glow: #17ab25;
    --secondary-color: #b47c03;
    --tertiary-color: #3356b4;
    --error-color: #ff2b2b;
    --link-color: #327022;
    --tag-color: #079c1d;
    --highlight-color: #bc930a;
    --journal-entry-background: #c8bb59;
    --approve: #28da1b;
    --decline: #f96b6b;
}

div.theme-custom {
    --primary-color: #888f9d;
    --background-color: #151518;
    --background-dark: #050505;
    --background-slightly-dark: #0a090b;
    --glow: #c7dcff;
    --secondary-color: #4b525e;
    --tertiary-color: #2e3046;
    --error-color: #f96a6a;
    --link-color: #5e85b0;
    --tag-color: #8696be;
    --highlight-color: #92a5cf;
    --journal-entry-background: #0c0c0e;
    --approve: #59a867;
    --decline: #d15252;
}