@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fixed-center {
  position: fixed;
  @include center;
}

@mixin abs-center {
    position: absolute;
    @include center;
}

@mixin flex-center {
    display:flex;
    align-items:center;
    justify-content: center;
}

@mixin flex-center-row {
    @include flex-center;
    flex-direction: row;
}

@mixin flex-center-col {
    @include flex-center;
    flex-direction: column;
}

@mixin fade-in {
    animation: fade-in 0.2s linear 1;
}

@keyframes fade-in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}