
/*
$primary-color: #000000;
$background-color: #ffffff;
$background-dark: #e7e7e7;
$background-slightly-dark: #000000;
$glow: #000000;
$secondary-color: #000000;
$tertiary-color: #000000;
$error-color: #ff2727;
$link-color: #3368d9;
$tag-color:#000000;
$highlight-color:#000000;
$journal-entry-background: #f7f7f7;
$approve: #4cbe42;
$decline: #d15252;

$primary-color: #6b3e26;
$background-color: #f0e5de;
$background-dark: #8b4513;
$background-slightly-dark: #5a2c10;
$glow: #d2691e;
$secondary-color: #cd853f;
$tertiary-color: #8b4513;
$error-color: #ff0000;
$link-color: #8b4513;
$tag-color:#d2691e;
$highlight-color:#f4a460;
$journal-entry-background: #f5f5dc;
$approve: #228b22;
$decline: #ff0000;

$primary-color: #d6d2c4;
$background-color: #202020;
$background-dark: #181818;
$background-slightly-dark: #282828;
$glow: #f2a365;
$secondary-color: #f2a365;
$tertiary-color: #f2a365;
$error-color: #ff4500;
$link-color: #f2a365;
$tag-color:#f2a365;
$highlight-color:#f2a365;
$journal-entry-background: #282828;
$approve: #228b22;
$decline: #ff4500;

$primary-color: #b33f25; // peach puff
$background-color: #FFCBA4; // peach
$background-dark: #FFB07C; // deep peach
$background-slightly-dark: #FFA368; // darker peach
$glow: #f24df5; // peach puff for glow
$secondary-color: #96377d; // peach for secondary
$tertiary-color: #FFB07C; // deep peach for tertiary
$error-color: #FF6347; // tomato for errors
$link-color: #FFDAB9; // peach puff for links
$tag-color:#e66572; // peach for tags
$highlight-color:#FFDAB9; // peach puff for highlights
$journal-entry-background: #FFA368; // darker peach for journal entries
$approve: #98FB98; // pale green for approvals
$decline: #FF6347; // tomato for declines

$primary-color: #5fa8ac; // frosty blue
$background-color: #FFFFFF; // snow white
$background-dark: #284B63; // twilight blue
$background-slightly-dark: #3C6E71; // frosty blue
$glow: #88D498; // aurora green
$secondary-color: #1B3A4B; // midnight blue
$tertiary-color: #0A2239; // deep night blue
$error-color: #FF4B5C; // frostbite red
$link-color: #88D498; // aurora green for links
$tag-color:#3C6E71; // frosty blue for tags
$highlight-color:#88D498; // aurora green for highlights
$journal-entry-background: #1B3A4B; // midnight blue for journal entries
$approve: #88D498; // aurora green for approvals
$decline: #FF4B5C; // frostbite red for declines

$primary-color: #587ac0;
$background-color: #fff4e6;
$background-dark: #edcbb0;
$background-slightly-dark: #efe5ce;
$glow: #35b7d1;
$secondary-color: #eb683d;
$tertiary-color: #aa5536;
$error-color: #f96a6a;
$link-color: #4238d4;
$tag-color:#fe6565;
$highlight-color:#f98238;
$journal-entry-background: #fbe5d7;
$approve: #59a88f;
$decline: #d15252;

$primary-color: #888f9d;
$background-color: #151518;
$background-dark: #050505;
$background-slightly-dark: #0a090b;
$glow: #c7dcff;
$secondary-color: #4b525e;
$tertiary-color: #2e3046;
$error-color: #f96a6a;
$link-color: #5e85b0;
$tag-color:#8696be;
$highlight-color:#92a5cf;
$journal-entry-background: #0c0c0e;
$approve: #59a867;
$decline: #d15252;

$primary-color: #66ff00; // bright green
$background-color: #000000; // black
$background-dark: #000000; // black
$background-slightly-dark: #0d0d0d; // very dark grey
$glow: #33ff33; // lighter green
$secondary-color: #00cc00; // dark green
$tertiary-color: #009900; // darker green
$error-color: #ff3300; // bright red
$link-color: #66ff00; // bright green
$tag-color:#33ff33; // lighter green
$highlight-color:#66ff00; // bright green
$journal-entry-background: #0d0d0d; // very dark grey
$approve: #00cc00; // dark green
$decline: #ff3300; // bright red


$primary-color: #ec2b4b; // pink
$background-color: #FFB6C1; // light pink
$background-dark: #FF69B4; // hot pink
$background-slightly-dark: #FF1493; // deep pink
$glow: #e942f8; // light pink for glow
$secondary-color: #da55d8; // pink for secondary
$tertiary-color: #FF69B4; // hot pink for tertiary
$error-color: #FF4500; // orange red for errors
$link-color: #FFC0CB; // pink for links
$tag-color:#FF69B4; // hot pink for tags
$highlight-color:#FFB6C1; // light pink for highlights
$journal-entry-background: #ffc9e6; // deep pink for journal entries
$approve: #98FB98; // pale green for approvals
$decline: #FF4500; // orange red for declines

$primary-color: #cfcfcf;
$background-color: #16213e;
$background-dark: #0f3460;
$background-slightly-dark: #e94560;
$glow: #c060a1;
$secondary-color: #8338ec;
$tertiary-color: #3a86ff;
$error-color: #ff006e;
$link-color: #8338ec;
$tag-color:#9b5de5;
$highlight-color:#f15bb5;
$journal-entry-background: #6244a9;
$approve: #06d6a0;
$decline: #ef476f;

$primary-color: #688ccf; // deep ocean blue
$background-color: #0B1723; // darkest ocean blue
$background-dark: #030A10; // almost black ocean blue
$background-slightly-dark: #0F1A2D; // dark ocean blue
$glow: #4FB0C6; // glowing ocean blue
$secondary-color: #2E8BC0; // secondary ocean blue
$tertiary-color: #2a94b8; // tertiary ocean blue
$error-color: #FF4B5C; // coral red for errors
$link-color: #4FB0C6; // glowing ocean blue for links
$tag-color:#B1D4E0; // tertiary ocean blue for tags
$highlight-color:#4FB0C6; // glowing ocean blue for highlights
$journal-entry-background: #0F1A2D; // dark ocean blue for journal entries
$approve: #2E8BC0; // secondary ocean blue for approvals
$decline: #FF4B5C; // coral red for declines
*/

@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fixed-center {
  position: fixed;
  @include center;
}

@mixin abs-center {
    position: absolute;
    @include center;
}

@mixin flex-center {
    display:flex;
    align-items:center;
    justify-content: center;
}

@mixin flex-center-row {
    @include flex-center;
    flex-direction: row;
}

@mixin flex-center-col {
    @include flex-center;
    flex-direction: column;
}

@mixin fade-in {
    animation: fade-in 0.2s linear 1;
}

@keyframes fade-in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}