@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fixed-center {
  position: fixed;
  @include center;
}

@mixin abs-center {
    position: absolute;
    @include center;
}

@mixin flex-center {
    display:flex;
    align-items:center;
    justify-content: center;
}

@mixin flex-center-row {
    @include flex-center;
    flex-direction: row;
}

@mixin flex-center-col {
    @include flex-center;
    flex-direction: column;
}

@mixin fade-in {
    animation: fade-in 0.2s linear 1;
}

@keyframes fade-in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes slide-fade-in-animation {
    0% {
        transform:translateY(10rem);
        transform:translateY(50%);
        //opacity:0;
    }
    100% {
        transform:translateY(0);
        //opacity:1;
    }
}

@keyframes slide-fade-in-translucent-animation {
    0% {
        transform:translateY(10rem);
        transform:translateY(50%);
        opacity:0;
    }
    100% {
        transform:translateY(0);
        opacity:0.5;
    }
}

@mixin slide-fade-in {
    animation: slide-fade-in-animation 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}
@mixin slide-fade-in-translucent {
    animation: slide-fade-in-translucent-animation 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}

@keyframes expand-requests {
    0% {
        opacity:0;
        filter:blur(10px);
        transform:translateY(20px);
    }
    100% {
        opacity:1;
        filter:blur(0px);
        transform:translateY(0px);
    }
}

@mixin theme-scrollbar {
    scrollbar-color: var(--secondary-color) var(--background-dark);
    scrollbar-width: thin;
}

@mixin add-button {
    background: var(--primary-color);
    color: var(--background-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    height: 2.2rem;
    width: 2.2rem;
    @include flex-center;
    cursor: pointer;
    box-shadow: 0 0 5px 4px var(--background-dark);
    &:hover {
        filter: brightness(1.5);
    }
}

@mixin placeholder-text {
    text-align:center;
    border:1px solid var(--secondary-color);
    opacity:0.6;
    padding:2rem 0;
    border-radius:0.5rem;
}

@mixin cover {
    background:#00000077;
}

@mixin social-input-style {
    background:var(--background-dark);
    outline:none;
    border:1px solid var(--secondary-color);
    color:var(--primary-color);
    border-radius:0.5rem;
    resize:none;
    font-family:'Figtree',sans-serif;
}