@import "../variables.module.scss";

.banner {
    position:fixed;
    top:0;left:50%;
    transform:translateX(-50%);
    z-index:100100;
    background:var(--background-color);
    border:1px solid var(--primary-color);
    border-top:none;
    border-radius:0 0 0.5rem 0.5rem;
    color:var(--primary-color);
    padding:1.5rem;

    box-shadow:0 0.5rem 1rem 0.4rem var(--background-dark);

    .bannerContent {
        font-size:1.2rem
    }

    .bannerCloseOuter {
        display:flex;
        .bannerClose {
            padding:0.2rem 0.5rem;
            background:var(--primary-color);
            color:var(--background-color);
            border-radius:0.3rem;
            margin-left:auto;
            cursor:pointer;
            &:hover {opacity:0.5;}
        }
    }

}