@import "../variables.module.scss";

.journalOuter {
    @include flex-center-col;
    color: var(--primary-color);
    height: 100%;
    flex: 1;
    align-items: stretch;
    position:relative;
    max-width:64vw;

    @media screen and (max-width:900px) {
        max-width:100dvw;
        width:100dvw;
    }
}

.journalInner {
    padding: 1rem 1.5rem 0.8rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1.5rem;
    overflow-y: scroll;
    @include theme-scrollbar;
    flex: 1;
    max-height: 100%;
    max-width: 100%;
    overflow-x:hidden;

    .journalDates {
        position: sticky;
        top: 0;
        width: 6rem;
        min-width: 6rem;
        padding-top: 1.4rem;
        max-height: 100%;
        overflow-y: scroll;
        @include theme-scrollbar;
        padding-right: 1rem;
        .journalYear {
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            position: relative;
            .journalYearExpand {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.6rem;
                margin-right:-0.4rem;
                cursor:pointer;
                &:hover {
                    opacity:0.5;
                }
                svg {
                    transition:transform .2s cubic-bezier(0.215, 0.610, 0.355, 1);
                    transform:rotate(180deg);
                }
            }

            .journalMonth {
                font-weight: normal;
                opacity:0.5;
                color: var(--primary-color);
                text-align: right;
                font-size: 1rem;
                margin-top: 0.3rem;
                cursor: pointer;
                transition:all .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                &:hover {
                    filter: brightness(1.5);
                }
                &.journalMonthActive {
                    opacity:1;
                }
            }

            &.journalYearCollapsed {
                .journalYearExpand {
                    svg {
                        transform:none;
                    }
                }
                .journalMonth {
                    height:0;
                    overflow:hidden;
                    margin:0;
                }
            }
        }

        .closeDatePicker {
            display:none;
        }
        
        @media screen and (max-width:900px) {
            position:absolute;
            top:2rem;left:0;
            height:calc(100dvh - 3rem - 2rem - 2rem);
            width:70dvw;
            padding:1rem 2rem;
            max-height:100dvh;
            overflow-y:auto;
            z-index:1000;
            background:var(--background-color);
            box-shadow: 1rem 1rem 1rem -0.5rem var(--background-dark);
            display:block;

            &.hideDates {
                display:none;
                transform:translateX(-100%);
                box-shadow:none;
            }

            &.fullScreen {
                top:0;
                height:calc(100dvh - 3rem - 2rem);
            }

            .closeDatePicker {
                display:block;
                position:relative;
                width:100%;
                cursor:pointer;
                .closeDatePickerBtn {
                    color:var(--secondary-color);
                    width:fit-content;
                    margin-left:auto;
                    font-size:2rem;
                    svg {
                        transform:rotate(180deg);
                    }
                }
            }

            .journalYear {
                font-size:1.6rem;
                .journalMonth {
                    font-size:1.5rem;
                }
            }
        }
    }

    .journalContent {
        flex: 1;
        max-width:calc(100% - 8.5rem);

        h2 {
            position:relative;
            .toggleDatePicker {
                display:none;
            }
            .toggleJournalCollapse {
                position:absolute;
                right:0;top:50%;
                transform:translateY(-50%);
                padding:0.5rem;
                cursor:pointer;
                &:hover {
                    opacity:0.5;
                }
                svg {
                    transform:translateY(5px);
                    font-size:1.3rem;   
                }
            }

            @media screen and (max-width:900px) {
                display:flex;
                flex-direction: row;
                margin-bottom:0.5rem;
                font-size:1.4rem;
                .toggleDatePicker {
                    @include flex-center-row;
                    cursor:pointer;
                    margin:0 1rem;
                }
            }
        }

        .noEntries {
            @include placeholder-text;
            @include slide-fade-in;
        }

        .journalInputContainer {
            @include flex-center-row;
            margin-bottom: 2rem;
            align-items: stretch;
            gap: 2rem;

            transition:all .3s cubic-bezier(0.23, 1, 0.320, 1);

            &.collapsed {
                max-height:0;
                overflow:hidden;
                margin-bottom:0;
            }


            @include slide-fade-in;

            .journalInputTextOuter {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                textarea {
                    background: var(--background-dark);
                    outline: none;
                    border: none;
                    padding: 1rem;
                    color: var(--primary-color);
                    font-size: 1.1rem;
                    font-family: 'Figtree', sans-serif;
                    box-shadow: 0 0 5px 4px var(--background-dark);
                }
                textarea.journalInputMain {
                    height: 10rem;
                    resize: vertical;
                    border-radius: 0.5rem 0.5rem 0 0;
                    border-bottom: 1px solid var(--secondary-color);
                }
                textarea.journalInputTags {
                    resize: none;
                    border-radius: 0 0 0.5rem 0.5rem;
                    overflow: hidden;
                    height: 1.5rem;
                }
            }

            .journalInputControls {
                @include flex-center-col;
                gap: 1.5rem;
                justify-content: space-between;

                .journalInputControl {
                    @include add-button;
                }
            }

            
            @media screen and (max-width:900px) {
                @include flex-center-col;
                gap:1rem;
                margin:1rem 0;
                .journalInputTextOuter {
                    textarea {
                        width:calc(100dvw - 4rem);
                        font-size:1rem;
                    }
                    textarea.journalInputTags {
                        padding:0.5rem 1rem;
                    }
                }
                .journalInputControls {
                    @include flex-center-row;
                }
            }
        }

        .journalEntry {
            background: var(--journal-entry-background);
            border-radius: 0.4rem;
            margin-bottom: 1.4rem;
            padding: 0.5rem 1.7rem;
            @include slide-fade-in;

            h2 {
                display:flex;
                flex-direction: row;
                flex-wrap:wrap;
                align-items: center;
                margin-top:0.5rem;
                &> div {
                    margin-right:0.5rem;
                }
                span.journalTag {
                    display: inline-block;
                    background: var(--primary-color);
                    border-radius: 0.8rem;
                    margin:0.5rem 0;
                    margin-right:0.5rem;
                    padding: 0.2rem 0.7rem;
                    color: var(--background-dark);
                    font-size: 1rem;
                    transform: translateY(-2px);
                    height:fit-content;
                }
                @media screen and (max-width:900px) {
                    font-size:1.2rem;
                    span.journalTag {
                        font-size:0.9rem;

                        font-weight:500;
                    }
                }
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: 'Figtree', sans-serif;
                color: var(--secondary-color);
            }

            pre {
                padding:1rem;
                border-radius:0.5rem;
                background: var(--background-dark);
                font-family: 'SourceCodePro',monospace;
                font-size:0.8rem;
                white-space:pre-line;
                word-wrap:break-word;
            }
        }
    }
    @media screen and (max-width:900px) {
        max-width:100dvw;
        width:calc(100dvw - 1rem);
        padding:0.5rem;
        .journalContent {
            max-width:100dvw;
            width:100dvw;
            padding:0;
            .journalEntry {
                padding: 0.5rem 1rem;
            }
        }
    }
}