@import "../variables.module.scss";

.journalOuter {
    @include flex-center-col;
    color: var(--primary-color);
    height: 100%;
    flex: 1;
    align-items: stretch;
}

.journalInner {
    padding: 1rem 2rem 0.8rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1.5rem;
    overflow-y: scroll;
    @include theme-scrollbar;
    flex: 1;
    max-height: 100%;

    .journalDates {
        position: sticky;
        top: 0;
        width: 6rem;
        padding-top: 1.4rem;
        max-height: 100%;
        overflow-y: scroll;
        @include theme-scrollbar;
        padding-right: 1rem;
        .journalYear {
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            position: relative;
            .journalYearExpand {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.6rem;
            }

            .journalMonth {
                font-weight: normal;
                opacity:0.5;
                color: var(--primary-color);
                text-align: right;
                font-size: 1rem;
                margin-top: 0.3rem;
                cursor: pointer;
                &:hover {
                    filter: brightness(1.5);
                }
                &.journalMonthActive {
                    opacity:1;
                }
            }
        }
    }

    .journalContent {
        flex: 1;

        .noEntries {
            @include placeholder-text;
            @include slide-fade-in;
        }

        .journalInputContainer {
            @include flex-center-row;
            margin-bottom: 2rem;
            align-items: stretch;
            gap: 2rem;
            @include slide-fade-in;

            .journalInputTextOuter {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                textarea {
                    background: var(--background-dark);
                    outline: none;
                    border: none;
                    resize: none;
                    padding: 1rem;
                    color: var(--primary-color);
                    font-size: 1.1rem;
                    font-family: 'Figtree', sans-serif;
                    box-shadow: 0 0 5px 4px var(--background-dark);
                }
                textarea.journalInputMain {
                    height: 10rem;
                    border-radius: 0.5rem 0.5rem 0 0;
                    border-bottom: 1px solid var(--secondary-color);
                }
                textarea.journalInputTags {
                    border-radius: 0 0 0.5rem 0.5rem;
                    overflow: hidden;
                    height: 1.5rem;
                }
            }

            .journalInputControls {
                @include flex-center-col;
                gap: 1.5rem;
                justify-content: space-between;

                .journalInputControl {
                    @include add-button;
                }
            }
        }

        .journalEntry {
            background: var(--journal-entry-background);
            border-radius: 0.4rem;
            margin-bottom: 1.4rem;
            padding: 0.5rem 1.7rem;
            @include slide-fade-in;

            h2 {
                span.journalTag {
                    display: inline-block;
                    background: var(--primary-color);
                    border-radius: 0.8rem;
                    margin-left: 0.6rem;
                    padding: 0.2rem 0.7rem;
                    color: var(--background-dark);
                    font-size: 1rem;
                    transform: translateY(-2px);
                }
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: 'Figtree', sans-serif;
                color: var(--secondary-color);
            }

            pre {
                padding:1rem;
                border-radius:0.5rem;
                background: var(--background-dark);
                font-family: 'SourceCodePro',monospace;
                font-size:0.8rem;
            }
        }
    }
}