@import "../variables.module.scss";

.statsPanelOuter {
    overflow-y:hidden;
    position:relative;
    box-shadow: 0 -10px 20px 5px var(--background-dark) inset;
    max-height:50vh;
    transition:max-height 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);

    &.statsPanelCollapsed {
        max-height:5vh;
    }

    .toggleStatsPanel {
        position:absolute;
        bottom:0;right:0;
        margin:0.2rem 0.8rem;
        transform:rotate(180deg);
        z-index:10000;
        svg {
            font-size:1.8rem;
            color:var(--primary-color);
            cursor:pointer;
        }

        &.toggleStatsPanelCollapsed {
            transform:rotate(0deg);
        }
    }
}


.statsPanel {

    @include flex-center-row;
    position:relative;
    color:var(--primary-color);
    padding:3rem 0;

    .roomTop {
        margin:0.3rem 1rem;
        position:absolute;
        top:0;left:0;
        @include flex-center-row;
        .backHome {
            font-size:1.4rem;
            margin-right:1rem;
            a {
                color:var(--primary-color);
            }
            svg {
                transform:translateY(3px);
                cursor:pointer;
                &:hover {
                    filter:brightness(1.4);
                }
            }
        }
        .roomId {
            font-weight:bold;
        }
    }

    span.workMarker,
    span.workMarkerSpecial {
        color:var(--secondary-color);
        margin-right:0.2rem;
        display:inline-block;
        height:1rem;
        border-radius:80%;
    }

    span.workMarkerSpecial {
        color:var(--glow);
        box-shadow:0 0 4px 1px var(--glow);
    }

    @media (max-width: 100rem) {
    
        span.workMarker,
        span.workMarkerSpecial {
            margin-right:0.1rem;
            height:0.9rem;
        }
    }

    .deepWorkWeek {

        @include flex-center-row;
        gap:1rem;

        .thisWeek {
            text-align:center;
            .changeWeek {
                @include flex-center-row;
                gap:1rem;
                margin-top:0.4rem;
                .changeWeekButton {
                    font-size:1.6rem;
                    cursor:pointer;
                    &:hover {
                        filter:brightness(2);
                    }
                }
            }
            .checkInButton {
                background:var(--primary-color);
                color:var(--background-color);
                border-radius:1rem;
                padding:0.5rem 1rem;
                margin-top:0.4rem;
                cursor:pointer;
                box-shadow:0 0 5px 4px var(--background-dark);
                &:hover {
                    outline:2px solid var(--glow);
                }
                svg {
                    transform:translateY(2px);
                }
            }
        }

        .workButtons {
            @include flex-center-row;
            gap:1rem;
            .workMarker, .workMarkerSpecial {margin:0;}
            .addButtons {
                @include flex-center-col;
                gap:1rem;
            }
            .workButton {
                @include flex-center-row;
                padding:0.5rem;
                border-radius:0.4rem;
                cursor:pointer;
                border:1px solid var(--background-dark);
                box-shadow:0 0 5px 4px var(--background-dark);
                &:hover {
                    outline:2px solid var(--secondary-color);
                }
            }
            .undoButton {
                color:var(--secondary-color);
                display:inline-block;
                height:1rem;
                border-radius:80%;
                svg {
                    transform:translate(1px, 1px);
                }
            }
        }

        @media (max-width: 100rem) {
            // Add responsive styles here
            .thisWeek {
                .changeWeek {
                    gap:0.5rem;
                    margin-top:0.2rem;
                    .changeWeekButton {
                        font-size:1.2rem;
                    }
                }
                .checkInButton {
                    border-radius:0.7rem;
                    padding:0.3rem 0.8rem;
                    margin-top:0.3rem;
                    font-size:0.9rem;
                }
            }

            .workGrid {
                td {
                    padding:0.1rem 0.5rem;
                    font-size:0.9rem;
                }
            }

            .workButtons {
                gap:0.8rem;
                .workButton {
                    padding:0.3rem;
                }
            }
        }
    }
}