@import "../variables.module.scss";

.statsPanelOuter {
    overflow-y:hidden;
    position:relative;
    box-shadow: 0 -10px 20px 5px var(--background-dark) inset;
    max-height:30vh;
    transition:all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.statsPanelCollapsed {
        max-height:5vh;
    }

    .toggleStatsPanel {
        position:absolute;
        bottom:0;right:0;
        margin:0.2rem 0.8rem;
        transform:rotate(180deg);
        z-index:10000;
        svg {
            font-size:1.8rem;
            color:var(--primary-color);
            cursor:pointer;
        }

        &.toggleStatsPanelCollapsed {
            transform:rotate(0deg);
        }
    }

    @media screen and (max-width: 900px) {
        max-height:100dvh;
        height:100dvh;
        width:100dvw;
        position:fixed;
        top:0;left:0;
        background:var(--background-color);
        transform:translate(-100%,0);
        transition:none;
        box-shadow:none;
        z-index:100;

        .toggleStatsPanel {
            display:none;
        }

        &.visible {
            transform:none;
        }
    }
}

.statsPanel {

    @include flex-center-row;
    position:relative;
    color:var(--primary-color);
    padding:3rem 0;

    .roomTop {
        margin:0.3rem 1rem;
        position:absolute;
        top:0;left:0;
        @include flex-center-row;
        z-index:1000;
        .backHome {
            font-size:1.4rem;
            margin-right:1rem;
            a {
                color:var(--primary-color);
            }
            svg {
                transform:translateY(3px);
                cursor:pointer;
                &:hover {
                    filter:brightness(1.4);
                }
            }
        }
        .roomId {
            font-weight:bold;
        }
        .roomOptionsOuter {
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            margin-left:1rem;
            .question {
                font-size:1.2rem;
                margin-left:0.7rem;
                cursor:pointer;
                &:hover {
                    filter:brightness(1.5);
                }
                svg {
                    transform:translateY(3px);
                }
            }
            .socialLink {
                position:relative;
                height:2rem;
                width:2rem;
                @include flex-center-row;
                a {
                    color:var(--primary-color);
                }
                svg {
                    font-size:1.2rem;
                    cursor:pointer;
                    transform:translateY(3px);
                    &:hover {
                        filter:brightness(1.5);
                    }
                }
                .socialNotif {
                    background:var(--background-color);
                    border-radius:0.5rem;
                    padding:1rem;
                    box-shadow:0 0 10px 0 var(--glow);
                }
            }
    
            .showTutorial,
            .showSettings,
            .showTimerSettings {
                position:relative;
                height:2rem;width:2rem;
                @include flex-center-row;
                font-size:1.1rem;
                cursor:pointer;
                &:hover {
                    filter:brightness(1.5);
                }
            }

            .showTimerSettings {
                font-size:1.4rem;
            }
        }
        
        @media screen and (max-width:900px) {
            position:fixed;
            top:0;left:50%;
            transform:translate(-50%,0);
            width:calc(100dvw - 2rem);
            padding:0 1rem;
            margin:1rem 0;
        }
    }

    span.workMarker,
    span.workMarkerSpecial {
        color:var(--secondary-color);
        margin-right:0.2rem;
        display:inline-block;
        height:1rem;
        border-radius:80%;
    }

    span.workMarkerSpecial {
        color:var(--glow);
        //box-shadow:0 0 4px 1px var(--glow);
    }

    .statsPanelContent {

        display:flex;
        flex-direction:row;
        .statsPanelToggle {
            @include flex-center-col;
            width:2rem;
            margin-right:1rem;
            margin-left:1rem;
            transform:translateY(5px);

            .statsArrow {
                font-size:1rem;
                cursor:pointer;
            }

            .pageIndicators {
                @include flex-center-col;
                position:relative;
                .pageItem {
                    position:relative;
                    z-index:1;
                    cursor:pointer;
                }
                .pageIndicatorSlider {
                    position:absolute;
                    transition:transform 0.3s cubic-bezier(0.68, -0.2, 0.265, 1.1);
                    top:0;
                    left:0;
                    z-index:10;
                }
            }

        }
        .statsPanelWindow {
            overflow:hidden;

            .statsPanelInner {

                display:grid;
                grid-template-columns:100%;
                grid-auto-rows:1fr;
                row-gap:0px;
                transition:transform 0.3s cubic-bezier(0.68, -0.2, 0.265, 1.55);

                & > * {
                    overflow:auto;
                    box-sizing:border-box;
                    min-height:150px;
                }
                .deepWorkWeek {
            
                    @include flex-center-row;
                    gap:1rem;
                    opacity:0;
                    transition:opacity 0.3s ease-in-out;
                    padding:0 1rem;
            
                    @keyframes jump-in {
                        0% {
                            opacity:0;
                            transform:translateY(100%);
                        }
                        100% {
                            opacity:1;
                            transform:none;
                        }
                    }
            
                    &.deepWorkWeekVisible {
                        animation:jump-in 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
                        opacity:1;
                    }
            
                    .thisWeek {
                        text-align:center;
                        .changeWeek {
                            @include flex-center-row;
                            gap:1rem;
                            margin-top:0.4rem;
                            .changeWeekButton {
                                font-size:1.6rem;
                                cursor:pointer;
                                &:hover {
                                    filter:brightness(2);
                                }
                            }
                        }
                    }
            
                    .workButtons {
                        @include flex-center-row;
                        gap:1rem;
                        .workMarker, .workMarkerSpecial {margin:0;}
                        .addButtons {
                            @include flex-center-col;
                            gap:1rem;
                        }
                        .workButton {
                            @include flex-center-row;
                            padding:0.3rem;
                            border-radius:0.4rem;
                            cursor:pointer;
                            border:1px solid var(--background-dark);
                            box-shadow:0 0 5px 4px var(--background-dark);
                            height:1.3rem;width:1.3rem;
                            transition:transform .1s linear;
                            &:hover {
                                outline:2px solid var(--secondary-color);
                            }
            
                            &.clicked {
                                filter:brightness(0.8);
                                transform:scale(0.95);
                            }
            
                            &.disabled {
                                opacity:0.4;
                                cursor:default;
                                &:hover {
                                    outline:none;
                                }
                            }
            
                            svg {
                                transform:translateY(2px);
                            }
                        }
                        .undoButton {
                            color:var(--secondary-color);
                            display:inline-block;
                            height:1rem;
                            border-radius:80%;
                            svg {
                                transform:translate(1px, 1px);
                            }
                        }
                    }
                }

                .timerOuter {
                    @include flex-center-row;
                }
            }
        }
    }


    @media screen and (max-width: 900px) {

        @include flex-center-col;
        max-width:100dvw;
        height:100dvh;
        width:100dvw;
        padding:0;
        background:var(--background-color);
        
        .statsPanelContent {
            .statsPanelToggle {
                margin-left:0.5rem;
            }

            .statsPanelWindow {

                .statsPanelInner {

                    .deepWorkWeek {
                        height:100dvh;
                        @include flex-center-col;
                        gap:2rem;

                        .workButtons {
                            .addButtons {
                                flex-direction: row;
                            }
                            .undoButton {
                                @include flex-center-row;
                            }
                        }

                        @media screen and (max-height:750px) {
                            gap:0.8rem;
                        }
                    }

                    .timerOuter {
                        height:100dvh;
                    }
                }
            }
        }
    }
}