@import "../variables.module.scss";

.todoOuter {
    border-right: 1px solid var(--secondary-color);
    @include flex-center-col;
    color: var(--primary-color);
    height: 100%;
    align-items: stretch;
    width: 36vw;
    transition: width 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.2);
    position: relative;

    @media screen and (max-width: 900px) {
        width: 100dvw;
    }

    &.collapsed {
        max-width:100dvw;
        width: 3rem;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 3rem;
            height: 100%;
            background-color: var(--background-slightly-dark);
            border-right: 1px solid var(--secondary-color);
        }
    }
    &.expanded {
        width: 100%;
        max-width: calc(100% - 3rem);
        
        @media screen and (max-width: 900px) {
            width: 100dvw;
        }
    }

    .collapseButton {
        position:absolute;
        top:0;
        right:0;
        margin-right:1rem;
        cursor:pointer;
        z-index:1000;
        margin-top:0.5rem;
        svg {
            transform: translateY(-2px) scale(1.3);
            opacity:0.5;
        }
        &:hover {
            opacity:1;
        }
    }

    .expandButton {
        position:absolute;
        top:0;
        left:50%;
        transform:translateX(-50%);
        cursor:pointer;
        z-index:1000;
        margin-top:0.5rem;
        svg {
            transform: translateY(-2px) scale(1.3);
            opacity:0.5;
        }
        &:hover {
            opacity:1;
        }
    }
}

.todoInner {
    padding: 1rem 2rem 4rem 2rem;
    flex: 1;
    overflow-y: scroll;
    max-height: 100%;

    .noGoals {
        @include placeholder-text;
        margin-top:1.5rem;
        @include slide-fade-in;
        svg {
            transform:translateY(2px);
        }
    }

    @mixin goal-input {
        background: var(--background-color);
        outline: none;
        border: 1px solid var(--secondary-color);
        border-radius: 0.4rem;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: var(--primary-color);
        font-family: 'Figtree', sans-serif;
        line-height: 1.2rem;
    }
    overflow-y: scroll;
    @include theme-scrollbar;

    .goalSection {
        margin-bottom: 0rem;
        margin-top:0.5rem;
        @include slide-fade-in;

        flex:1;

        &.goalCompleted {
            opacity:0.5;
        }

        .goalHeader {

            display:flex;
            flex-direction: column;
            align-items: stretch;
            gap:0.2rem;
            margin-bottom:0.5rem;

            .goalTitle {
                
                display:flex;
                flex-direction: row;

                @keyframes expand-delete {
                    0% {
                        width:0;
                    }
                    100% {
                        width:2rem;
                    }
                }
                .deleteGoal {
                    width:0;
                    display:inline-block;
                    @include flex-center-row;
                    overflow:hidden;
                    color:var(--error-color);
                    cursor:pointer;
                    &:hover {
                        filter:brightness(0.7);
                    }
                    svg {
                        transform:translateY(2px);
                    }
                    &.deleteGoalShow {
                        animation: expand-delete 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
                        width:2rem; 
                    }
                }
                .goalTitleText {
                    font-size:1.5rem;
                    font-weight:bold;
                }
            }
            .goalDates {
                font-size:1.2rem;
                font-weight:bold;
                color: var(--secondary-color);
            }
        }
        .taskList {

            .noTasks {
                @include placeholder-text;
            }

            .taskItem {
                flex:1;
                display: flex;
                flex-direction: row;
                align-items: center;

                margin: 0.4rem 0;
                padding: 0.2rem 0;
                @include slide-fade-in;

                .taskCheck {
                    height: 1.2rem;
                    width: 1.2rem;
                    min-width: 1.2rem;
                    border-radius: 0.2rem;
                    @include flex-center;
                    margin: 0 0.5rem;
                    border: 1px solid var(--secondary-color);
                    &.taskCheckEditable {
                        cursor: pointer;
                    }
                }
                .taskName {
                    display:flex;
                    flex-direction: row;
                    align-items: stretch;

                    .deleteTask {
                        @include flex-center-row;
                        overflow-x:hidden;
                        width:0;
                        padding:0 5px;
                        color:var(--error-color);
                        cursor:pointer;
                        &:hover {
                            filter:brightness(0.7);
                        }
                        &.showDeleteTask {
                            animation: expand-delete 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
                            width:2rem; 
                        }
                    }

                    .taskRow {
                        display:flex;
                        flex-direction: row;
                        flex-wrap:wrap;
                        gap:0.5rem;
                        .taskTag {
                            background: var(--tag-color);
                            color: var(--background-color);
                            border-radius: 0.8rem;
                            padding: 0.1rem 0.7rem;
                            font-size: 0.8rem;
                            font-weight: bold;
                            white-space: nowrap;
                        }
                    }
                }

                &.taskItemCompleted {
                    .taskCheck {
                        @include flex-center-col;
                        font-size:0.8rem;
                        color:var(--primary-color);
                        //background: var(--secondary-color);
                    }
                    .taskName {
                        text-decoration: line-through;
                        color: var(--secondary-color);
                        opacity: 0.6;
                        .taskTag {
                            text-decoration: none;
                            opacity: 0.4;
                        }
                    }
                }
            }
            .newTaskContainer {
                position: relative;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: var(--background-color);
                border:2px solid var(--tertiary-color);
                overflow: hidden;
                transition: all 0.1s ease;
                margin:0.5rem auto;
                color:var(--primary-color);
                cursor:pointer;

                &:hover {  
                    opacity:0.8;
                }

                .plusButton {
                    position:absolute;
                    color:var(--secondary-color);
                    top:50%;left:50%;
                    opacity:0.8;
                    transform:translate(-50%,-50%) scale(0.7);
                    margin-top:2px;      
                    cursor:pointer;              
                }

                &.newTaskVisible {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                    background-color:var(--background-dark);
                    content:"";
                    border:none;
                    cursor:default;

                    .plusButton {
                        display:none;
                    }

                    &:hover {
                        opacity:1;
                    }
                }

                .newTaskInputs {
                    @include flex-center-row;
                    opacity: 0;
                    //transform: translateX(-100%);
                    transition: all 0.2s ease;
                    padding: 10px;
                    max-height:0;
                }
                
                &.newTaskVisible .newTaskInputs {
                    opacity: 1;
                    transform: translateX(0);
                    max-height:5rem;
                }

                .newTaskTextInput {
                    flex:1;

                    input {
                        @include goal-input;
                        width:calc(100% - 3rem);
                        border:none;
                        border-radius:0 0.4rem 0.4rem 0;
                            
                    }
                }

                .newTaskActions {
                    @include flex-center-col;
                    justify-content:space-between;
                    width:1rem;
                    height:100%;
                    gap:1rem;
                    margin-right:0.5rem;
                    .addTask,.hideInput {
                        cursor:pointer;
                        border-radius:50%;
                        height:1.5rem;width:1.5rem;
                        @include flex-center-col;
                        color:var(--secondary-color);
                        &:hover {
                            background:var(--secondary-color);
                            color:var(--background-color);
                            transition:all 0.1s ease-in-out;
                        }
                    }
                }

                &.newTaskVisible .newTaskAction {
                    top: 10px;
                    right: 10px;
                    left: auto;
                    transform: none;
                }
            }
        }
    }
    .newGoal {
        @include flex-center-row;
        @include slide-fade-in;
        margin-top: 3rem;
        gap: 1rem;
        input {
            @include goal-input;
        }
        .addGoal {
            @include add-button;
        }
    }
}