@import "../variables.module.scss";

.visibilityControl {

    height:2rem;
    width:2rem;
    @include flex-center-row;

    cursor:pointer;
    font-size:1.3rem;

    transform:scale(1.1);
    &:hover {
        filter:brightness(1.5);
    }
}