@import "../variables.module.scss";

.workGrid {
    table {
        border-collapse: collapse;
    }
    td {
        border-right:1px solid var(--secondary-color);
        padding:0.2rem 0.8rem;
    }

    td.streakHeader {
        font-weight:bold;
        text-align:center;
        color:var(--highlight-color);
    }

    td svg {
        transform:translateY(0.2rem);
    }

    td.streakCell {
        text-align:center;
        
        .streak {
            @include flex-center-row;
            background:var(--highlight-color);
            color:var(--background-color);
            opacity:0.9;
            border-radius:0.4rem;
            font-size:1.2rem;
            font-weight:bold;
            text-align:center;
            div {
                cursor:default;
                padding:0.1rem 1rem;
            }
            div:first-child {
                border-right: 2px solid var(--background-color);
            }
        }
    }

    .workTotal {
        font-weight:bold;
        font-size:1.3rem;
    }
    
    @media (max-width: 100rem) {
        .workTotal {
            font-size:1.1rem;
        }
    }

}